body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.tabs-container {
    display: flex;
    justify-content: flex-start;
    background-color: #f0f0f0;
}

.tabs {
    display: flex;
}

.tab-button {
    padding: 10px 20px;
    background-color: lightgray;
    border-right: 1px solid #8e8e8e;
    cursor: pointer;
}

.tab-button.active {
    background-color: white;
    border-bottom: 1px solid white; /* Seamlessly merge with the content */
    font-weight: bold;
}

.tab-content {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: white;
}
